body {
	background: #444;
	font-family: 'Open Sans', sans-serif;
}
.display {
	margin-top: 100px;
	height: 200px;
	color: #F73D56;
	text-align: center;
}

.display h1 {
	font-size: 8rem;
}

.display h2 {
	font-size: 3rem;
	color: #2AAAD4;
}

.welcome-display {
	margin-top: 175px;
	height: 200px;
	color: #F73D56;
	text-align: center;
}

.welcome-display h1 {
	font-size: 5rem;
	margin-bottom: 20px;
}

.welcome-display h2 {
	font-size: 2.8rem;
	color: #eee;
	margin-bottom: 50px;
}

.check-btn {
	width: 200px;
	background: #444;
	border-color: #F73D56;
	color: #F73D56;
}

.check-btn:hover {
	background: #555;
	border-color: #F73D56;
	color: #F73D56;
}

.predictionText {
	margin-top: 50px;
}

.nav {
	height: 90px;
	padding-right: 40px;
	padding-left: 40px;
	background: #444;
	border-bottom: #555 solid 1px;
}

.navbar-light .navbar-nav .nav-link {
	color: #F73D56;
}

.navbar-light .navbar-nav .active>.nav-link {
	color: #2AAAD4;
}

.link {
	padding-left: 40px;
	color: #f73d56;
}

#brand-pink {
	color: #F73D56;
}

.pink {
	color: #F73D56;
}