body {
	background: #444;
	font-family: 'Open Sans', sans-serif;
}
.display {
	margin-top: 100px;
	height: 200px;
	color: #F73D56;
	text-align: center;
}

.display h1 {
	font-size: 10rem;
}

.display h2 {
	font-size: 5rem;
	color: #2AAAD4;
}

.predictionText {
	margin-top: 50px;
}

.nav {
	height: 100px;
	padding-right: 40px;
	padding-left: 40px;
}

.link {
	padding-left: 20px;
	color: #f73d56;
}

#brand-pink {
	color: #F73D56;
}

.pink {
	color: #F73D56;
}